extends layouts/_default.jade

block content

    article.rte
        p Hello I'm François-Xavier Jourdain and I approve this website !
        div(style='width: 300px; height: 3000px; background-color: red;')