head
    meta(charset="utf-8")
    title Heurus - Habitat & Services
    meta(name="description", content="Heurus, habitat et services")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    link(rel="stylesheet", href="media/assets/vendors/Snap/demo/assets/demo.css")
    link(rel="stylesheet", href="media/css/style.css")
    link(rel="stylesheet", href="media/assets/vendors/sidr/stylesheets/jquery.sidr.light.css")
    // if lt IE 9
        script(src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.2.0/respond.js")
    script(src="./media/assets/vendors/Overthrow/dist/overthrow.min.js")