include ../../includes/footer-line


footer#main-footer-container
    #main-footer
        #main-footer-logo
        address
            p 15, rue de Landes
                <br> BP 1234
                <br> 44100 Nantes
        ul.nav
            li: a(href="#") Mentions légales
            li: a(href="#") Contact

script(src="media/assets/vendors/jquery/jquery-1.10.2.min.js")
script(src="media/assets/vendors/sidr/jquery.sidr.js")
script(src="media/assets/js/main.js")
