//- include ../../includes/page

footer#main-footer-container
    #main-footer
        #main-footer-logo
        address
            p 15, rue de Landes
                <br> BP 1234
                <br> 44100 Nantes
        ul.nav
            li: a(href="#") Mentions légales
            li: a(href="#") Contact

script(src="assets/js/main.js")